@import "tailwindcss";

@theme {
  --color-primary: #3ECF8E;
  --color-secondary: #4F46E5;
  --color-accent: #0EA5E9;

  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

  --color-border-custom: #E2E8F0;

  --color-heading: #0F172A;
  --color-text-main: #334155;
  --color-muted-custom: #64748B;

  --color-success-custom: #22C55E;
  --color-warning-custom: #F59E0B;
  --color-error-custom: #EF4444;
  --color-info-custom: #3B82F6;
}

/* Custom base resets */
body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
